.about-me .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: var(--header-text-color);
}

.about-me .content ul {
    list-style: none;
    padding: 0;
}

.about-me p {
    color: var(--pragraph-text-color);
}

.about-me .button-icons {
    color: var(--gray);
    margin-right: 1.5rem;
}

.about-me .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.about-me .content ul strong {
    margin-right: 10px;
}

.about-me strong {
    color: var(--medium-blue);
}

.about-me span {
    color: var(--pragraph-text-color);
}