.projects .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0 10px 60px;
    color: var(--header-text-color);
}

.projects .icon-box p {
    font-size: 15px;
    color: var(--pragraph-text-color);
    margin-left: 60px;
}

.projects .image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
}

#icon-box-card {
    box-shadow: -5px 10px 15px -3px rgba(7, 6, 6, 0.5);
    padding: 10px 10px;
    align-items: center;
}