.dots {
    width: 56px;
    height: 13.4px;
    background: radial-gradient(circle closest-side, #ea0620 90%, #0000) 0 0/33% 100% space;
    clip-path: inset(0 100% 0 0);
    animation: dots-e3xtdg 1.5s steps(4) infinite;
}

@keyframes dots-e3xtdg {
    to {
        clip-path: inset(0 -34% 0 0);
    }
}