:root {
    --mainBlack: #0B0C10;
    --lightBlack: #1F2833;
    --pragraph-text-color: #C5C6C7;
    --header-text-color: #66FCF1;
    --medium-blue: #45A29E;
}

a {
    color: var(--header-text-color);
    text-decoration: none !important;
}

a:hover {
    color: var(--medium-blue);
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif !important;
}

body {
    font-family: "Poppins", sans-serif !important;
    background-color: var(--mainBlack) !important;
}

.swiper-pagination {
    position: relative;
    margin-top: 20px !important;
}

.swiper-pagination-bullet {
    color: red !important;
}