#hero {
    width: 100%;
    height: 100vh;
    background-size: cover;
}

#hero .container,
#hero .container-fluid {
    padding-top: 84px;
}

#hero h1 {
    margin: 0;
    font-size: 52px;
    font-weight: 700;
    line-height: 64px;
    color: var(--header-text-color);
}

#hero h3 {
    color: var(--gray);
    margin: 10px 0 0 0;
    font-size: 20px;
}

#hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

#hero p {
    color: var(--pragraph-text-color);
    margin: 10px 0 0 0;
}

.typing_name {
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
}

.name-typing {
    /*This part is important for centering*/
    display: grid;
    place-items: center;
}

.typing {
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

@media (min-width: 1200px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    #hero {
        text-align: center;
    }
    #hero .container,
    #hero .container-fluid {
        padding-top: 68px;
    }
    #hero .animated {
        animation: none;
    }
    #hero .hero-img {
        text-align: center;
    }
    #hero .hero-img img {
        width: 50%;
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 26px;
        line-height: 36px;
        margin: auto;
        width: 100%;
    }
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
    }
    #hero .hero-img img {
        width: 60%;
    }
}

@media (max-width: 575px) {
    #hero .hero-img img {
        width: 80%;
    }
}

@media (max-width: 575px),
(max-height: 600px) {
    #hero {
        height: auto;
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}