#header {
    z-index: 997;
    transition: all 0.5s;
    height: 80px;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


/**
* Desktop Navigation 
*/

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--pragraph-text-color);
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus {
    color: var(--header-text-color);
    border-bottom: 2px solid var(--header-text-color);
}

@media screen and (max-width: 768px) {
    #navbar {
        display: none !important;
    }
}

@media screen and (min-width: 768px) {
    .responsive-btn {
        display: none !important;
    }
}