.contact .info-box {
    text-align: center;
    padding: 20px 0 30px 0;
    box-shadow: -5px 10px 15px -3px rgba(7, 6, 6, 0.5);
}

.contact .info-box h3 {
    font-size: 20px;
    color: var(--header-text-color);
    font-weight: 700;
    margin: 10px 0;
}

.contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
    color: var(--pragraph-text-color);
}

.contact .mui-icon {
    font-size: 50px;
    color: var(--gray);
}