.services {
    background-size: cover;
    padding: 60px 0;
    position: relative;
}

.services .content {
    padding: 30px 30px 30px 0;
}

.services .content h3 {
    font-weight: 700;
    font-size: 34px;
    color: var(--header-text-color);
    margin-bottom: 30px;
}

.services .content p {
    margin-bottom: 30px;
    color: var(--gray);
}

.services .icon-boxes .icon-box {
    padding: 20px;
    box-shadow: -5px 10px 15px -3px rgba(7, 6, 6, 0.5);
}

.services .icon-boxes .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px 0;
    color: var(--medium-blue);
}

.services .icon-boxes .icon-box p {
    font-size: 15px;
    color: var(--pragraph-text-color);
}

@media (max-width: 1200px) {
    .services .content {
        padding-right: 0;
    }
}

@media (max-width: 768px) {
    .services {
        text-align: center;
    }
}